<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AMMV</title>
  <%= favicon_link_tag 'icon.png' %>
  <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=csrf_meta_tags %>
</head>

<body>
  <%= yield %>
  <div>
    <footer class="footer">
      <div class="container col-lg-5"> 
        <div><span >Copyright © 2017 NExTI</span></div>
      </div>
    </footer>
  </div>
</body>
</html>
