<%= form_for(@relatorio) do |f| %>
<% if @relatorio.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@relatorio.errors.count, "error") %> prohibited this cadastro from being saved:</h2>
  <ul>
    <% @relatorio.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <a class="navbar-brand">  <%= link_to (image_tag("icon2.png")), root_path, class: 'navbar-brand' %></a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li> <%=link_to 'Inicio', root_path%></li>
        <li> <%=link_to 'Cadastrar' , new_cadastro_path%> </li>
        <li class="active"> <%=link_to 'Relatórios'%> </li>
        <li><%=link_to "Sair", destroy_user_session_path, :method => :delete%></li>
      </ul>
    </div>
  </div>
</nav>

<br>
<div class="ls-form row container-fluid">
  <div class="page-header">
    <h2 align="center">Relatório</h2>
  </div>
  <br>
  <fieldset>
    <div class="relatorio">
      <div class="row well">
          <b class="ls-label-text">Data Inicial</b>
          <p class="ls-label-info">Selecione a Data Inicial</p><br>
          <%= f.date_select  :data_inicio, :order => [:day, :month, :year], :use_month_names=>["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]%>
          <br> <br>
          <b class="ls-label-text">Data Final</b>
          <p class="ls-label-info">Selecione a Data Final</p><br>
          <%= f.date_select  :data_final, :order => [:day, :month, :year], :use_month_names=>["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]%>
        <br>
        <div class="footer" align="center">
          <%= f.submit "Salvar", class:"btn btn-primary"%>
          <%=link_to 'Cancelar', root_path, class: 'ls-btn-primary-danger'%>
        </div>
      </fieldset>       
    </div>
  </div>
  <% end %>
