<%= form_for(@relatorio) do |f| %>
<% if @relatorio.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@relatorio.errors.count, "error") %> prohibited this cadastro from being saved:</h2>
  <ul>
    <% @relatorio.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <br>
  <div class="ls-form row container-fluid">
    <div class="page-header">
      <h2 align="center">Relatorio</h2>
    </div>
    <br>
    <fieldset>
      <div class="container">
        <div class="row">
          <label class="ls-label col-md-3">
            <b class="ls-label-text">Data Inicial</b>
            <p class="ls-label-info">Selecione a Data Inicial</p><br>
            <%= f.date_select  :data_inicio%>
          </label>
          
          <label class="ls-label col-md-3">
            <b class="ls-label-text">Data Final</b>
            <p class="ls-label-info">Selecione a Data Final</p><br>
            <%= f.date_select  :data_final%>
          </label>
          <br>
          <div class="footer" align="center">
            <%= f.submit "Salvar", class:"btn btn-primary"%>
            <%=link_to 'Cancelar', root_path, class: 'ls-btn-primary-danger'%>
          </div>
        </fieldset>       
    </div>
  </div>


  <% end %>
