  <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <a class="navbar-brand">  <%= link_to (image_tag("icon2.png")), root_path, class: 'navbar-brand' %></a>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"> <%=link_to 'Inicio', root_path%></li>
          <li> <%=link_to 'Cadastrar' , new_cadastro_path%> </li>
          <% if policy(@cadastros).index? %>
          <li> <%=link_to 'Relatórios', relatorios_path%> </li>
          <% end %>
          <li><%=link_to "Editar Perfil", edit_user_registration_path %></li>
          <li><%=link_to "Sair", destroy_user_session_path, :method => :delete%></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 align="center">Cadastros</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4" align="right">
        <input type="search" id="search" value="" class="form-control" placeholder="Buscador">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Id Cliente Coelce</th>
            <th>Codigo Ocorrencia</th>
            <th>Valor</th>
            <th>Parcelas</th>
            <%if policy(@cadastros).index? %>
            <th>Autor</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @cadastros.each do |cadastro| %>
          <tr>
            <%if current_user.id == cadastro.user_id || policy(@cadastros).index? %>
            <td><%= cadastro.id_cliente_coelce %></td>
            <td><%= cadastro.codigo_ocorrencia %></td>                  
            <td> R$ <%= cadastro.valor %></td>
            <td><%= cadastro.parcelas %></td>
            <%if policy(@cadastros).index? %>
            <td><span class = "label label-info"><%= cadastro.user.username %></span></td>
            <% end %>
            <td align="center">
              <%= link_to 'Ver', cadastro,class: 'ls-btn-primary ls-btn-xs' %>
              <%= link_to 'Editar', edit_cadastro_path(cadastro),class: 'ls-btn ls-ico-cog ls-btn-xs'%>  
            </td>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
    <hr>
  </div>
</div>