<!-- <!DOCTYPE html>
<html> -->

<head>
              
      <title>AMMV</title>
</head>

<body >

<nav class="navbar navbar-light bg-faded">
  <a href="#"><%= link_to 'AMMV', cadastros_path %></a>
  <div>
    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Relatórios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Semanal</a>
          <a class="dropdown-item" href="#">Quinzenal</a>
          <a class="dropdown-item" href="#">Mensal</a>
        </div>          
      </li>
      <li>
        <%= link_to 'Colaboradores', control_users_index_path %>
      </li>
      <li>
          <%= button_to "Sair", destroy_user_session_path, :method => :delete %>  

      </li>
    </ul>
  </div>  
</nav>
  

    <p id="notice"><%= notice %></p>
  <div class="table-responsive" align="center">
    <h1>Cadastros</h1>
    <center>
      <%= form_tag(cadastros_path, method: :get) do %>
        <%= text_field_tag 'search', nil, placeholder: 'Digite o Código do Cliente' %>
        <%= submit_tag "Buscar"%>
      <% end %>
    </center>
    <br>
    <table class="table-striped">
      <tr  height="20">
        <th width="150"><p>Id cliente coelce</p></th>            
        <th width="150"><p>Codigo ocorrencia</th>            
        <th width="150"><p>Valor</th>
        <th width="150"><p>Parcelas</th>                  
      </tr>       
        <% @cadastros.each do |cadastro| %>
        <tr height="25">
          <td align=center><%= cadastro.id_cliente_coelce %></td>              
          <td align="center"><%= cadastro.codigo_ocorrencia %></td>              
          <td align="center"><%= cadastro.valor %></td>
          <td align="center"><%= cadastro.parcelas %></td>  
          <td align="center">
            <div>
              <%= link_to 'Ver', cadastro,class: 'btn btn-xs btn-primary' %>
              <%= link_to 'Editar', edit_cadastro_path(cadastro), class: 'btn btn-xs btn-info' %>
              <%= link_to 'Excluir', cadastro, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Tem certeza que deseja excluir o registro?' } %>
            </div>
          </td>
        </tr>
          <% end %> 
    </table>
  </div>
  <center>
    <%=link_to 'Cadastrar' , new_cadastro_path, class: 'btn btn-sm btn-default' %>
  </center>
  </body>
</html>